:root {
    --primary-label:        #FFFFFF;
    --secondary-label:      #EBEBF599;
    --tertiary-label:       #EBEBF54D;
    --quarternary-label:    #EBEBF52E;

    --placeholder-text:     #EBEBF54C;

    --primary-tint:         #0A84FF;

    --primary-fill:         #7878805C;
    --secondary-fill:       #78788052;
    --tertiary-fill:        #7676803E;
    --quarternary-fill:     #7474802E;

    --thick-material:       #202020EC;
    --regular-material:     #252525C8;
    --thin-material:        #2525259A;
    --ultrathin-material:   #46464680;

    --material-seperator:   #FFFFFF4D;

    --opaque-separator:     #38383A;
    --nonopaque-separator:  #545458A6;

    --primary-sb:           #000000;
    --secondary-sb:         #1C1C1E;
    --tertiary-sb:          #2C2C2E;
    --quarternary-sb:       #3A3A3C;

    --primary-gb:           #000000;
    --secondary-gb:         #1C1C1E;
    --tertiary-gb:          #2C2C2E;
    --quarternary-gb:       #3A3A3C;

    --system-gray1:         #8E8E93;
    --system-gray2:         #636366;
    --system-gray3:         #48484A;
    --system-gray4:         #3A3A3C;
    --system-gray5:         #2C2C2E;
    --system-gray6:         #1C1C1E;

    --link:                 #0984FFFF;

    --dark-text:            #000000FF;
    --light-text:           #FFFFFF99;

    --black:                #000000;
    --white:                #FFFFFF;

    --system-blue:          #0A84FF;
    --system-green:         #30D158;
    --system-indigo:        #5E5CE6;
    --system-orange:        #FF9F0A;
    --system-pink:          #FF375F;
    --system-purple:        #BF5AF2;
    --system-red:           #FF453A;
    --system-teal:          #64D2FF;
    --system-yellow:        #FFD60A;

    --d1:                   #64D2FF;
    --d2:                   #BF5AF2;
    --d3:                   #FFD60A;
}