.game {
    position: absolute;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    transition: all 2s ease-in-out;
}

.gameBlur {
    position: absolute;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    background-color: var(--thin-material);
    overflow-y: hidden;
    transition: all 2s ease-in-out;
}

.countdown {
    font-size: 150px;
    font-weight: 700;
}

.quiz {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.quizBody {
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}



/* Quiz Navbar */

.quizNavbar {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-left: 20px;
}

.quizNavList {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.quizNav {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--primary-fill);
    transition: all .3s ease-in-out;
}

.quizNav:hover {
    transform: scale(1.5);
    transition: all .3s ease-in-out;
}



/* Quiz Question */

.quizQuest {
    position: absolute;
    top: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.quest {
    position: absolute;
    top: -230px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 180px;
    text-align: center;
}

.questLbl {
    font-family: 'Barlow Condensed';
    font-size: 36px;
    font-weight: 400;
}

.questContent {
    margin-top: 50px;
    font-family: 'Barlow Condensed';
    font-size: 40px;
    font-weight: 500;
}

.choices {
    align-items: center;
    justify-content: center;
    width: 70%;
    flex-wrap: wrap;
    gap: 30px;
}

.choice {
    flex-basis: calc(50% - 15px);
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 60px;
    border-radius: 30px;
    background-color: var(--ultrathin-material);
    transition: all .3s ease-in-out;
    cursor: pointer;
}

@media(hover: hover) and (pointer: fine) {
    .choice:hover {
        box-shadow: inset 0 0 0 2px var(--white);
        transition: all .3s ease-in-out;
    }
}

.choiceLbl {
    font-family: 'Barlow Condensed';
    font-size: 30px;
    font-weight: 400;
}

.choice:active {
    box-shadow: none;
    color: var(--black);
    transition: all .3s ease-in-out;
}

.choice:active>.choiceLbl {
    color: var(--black);
    transition: all .3s ease-in-out;
}



/* Quiz Timer */

.quizTimer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timerLbl {
    width: 3ch;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}

.timerBar {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 412px;
    width: 30px;
    padding: 3px;
    border-radius: 15px;
    background-color: var(--primary-fill);
    overflow: hidden;
}

.timerBarInd {
    height: 0%;
    width: 24px;
    border-radius: 12px;
    background-color: var(--system-green);
}



/* Winner */

.winner {
    align-items: center;
    justify-content: center;
}



/* Timeout */

.timeout {
    align-items: center;
    justify-content: center;
}

.timeoutLbl {
    font-size: 100px;
    font-weight: 600;
    color: var(--system-yellow);
}



/* Finish */

.finish {
    align-items: center;
    justify-content: center;
}

.finishLbl {
    font-size: 100px;
    font-weight: 600;
    color: var(--system-orange);
}



/* Board */

.board {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.table {
    position: relative;
    align-items: center;
    flex-direction: column;
    border-radius: 14px;
    color: var(--primary-label);
    background-color: var(--ultrathin-material);
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
}

.tableHead {
    align-items: center;
    padding: 5px 10px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    background-color: var(--ultrathin-material);
}

.tableHeadRow {}

.tableHeadLbl {
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.tableBody {
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

.tableBodyRow {
    align-items: center;
    border-radius: 8px;
}

.tableBodyLbl {
    font-size: 22px;
    font-weight: 500;
    padding: 10px;
    text-align: center;
    width: 50px;
}

.leaveBtn {
    display: flex;
    position: absolute;
    bottom: -80px;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 0 40px;
    border-radius: 25px;
    background-color: #FF453A2B;
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
}

.leaveBtnLbl {
    font-size: 30px;
    font-weight: 700;
    color: var(--system-red);
}