.join {
    position: absolute;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.games {
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    padding: 150px 20px 30px;
    gap: 20px;
    overflow-y: auto;
}

.games::-webkit-scrollbar {
    display: none;
}

.gameWrapper {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 198px;
    height: 198px;
    border-radius: 14px;
    backdrop-filter: saturate(180%);
    -webkit-backdrop-filter: saturate(180%);
    overflow: hidden;
}

.gameCard {
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 198px;
    height: 198px;
    padding: 15px;
    border-radius: 14px;
    backdrop-filter: saturate(180%);
    -webkit-backdrop-filter: saturate(180%);
    background-color: var(--thin-material);
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.gameCard:hover {
    background-color: var(--ultrathin-material);
    transition: all .2s ease-in-out;
}

.gameHeader {
    justify-content: space-between;
    width: 100%;
}

.gameToken {
    align-items: center;
    justify-content: center;
}

.gameTokenLbl {
    font-size: 18px;
    font-weight: 600;
    color: var(--secondary-label);
    margin-right: 5px;
}

.gameTopic {
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 30px);
}

.gameTopicLbl {
    font-size: 24px;
    font-weight: 600;
    color: var(--primary-label);
}

.gameDurationLbl {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 400;
    color: var(--secondary-label);
}

.gamePlayers {
    align-items: center;
    justify-content: center;
    padding: 2px 8px;
    border-radius: 15px;
}

.gamePlayersLbl {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-right: -2px;
    color: var(--primary-label);
}